<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.facejoy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <uses-permission android:name="android.permission.CAMERA" />
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    
    <supports-screens
            android:smallScreens="true"
            android:normalScreens="true"
            android:largeScreens="true"
            android:resizeable="true"
            android:anyDensity="true" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ca.dealsaccess.facejoy.FaceMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <!-- A child of the main activity -->
		<activity
	        android:name="ca.dealsaccess.facejoy.DisplayMessageActivity"
	        android:label="@string/title_activity_display_message"
	        android:parentActivityName="ca.dealsaccess.facejoy.FaceMainActivity"
	        android:screenOrientation="portrait" >
	        <!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="ca.dealsaccess.facejoy.FaceMainActivity" />
		</activity>
        
        
        <activity
	        android:name="ca.dealsaccess.facejoy.MyDevicePhotoActivity"
	        android:label="@string/title_activity_mydevice_photo"
	        android:parentActivityName="ca.dealsaccess.facejoy.FaceMainActivity"
	        android:screenOrientation="portrait" >
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="ca.dealsaccess.facejoy.FaceMainActivity" />
		</activity>
		
		
		<!-- GridPhotoActivity -->
		<activity
	        android:name="ca.dealsaccess.facejoy.GridPhotoActivity"
	        android:label="@string/title_activity_mydevice_photo"
	        android:parentActivityName="ca.dealsaccess.facejoy.FaceMainActivity"
	        android:screenOrientation="portrait" >
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="ca.dealsaccess.facejoy.FaceMainActivity" />
		</activity>
		
		
        <activity
	        android:name="ca.dealsaccess.facejoy.AlbumActivity"
	        android:label="@string/title_activity_album"
	        android:parentActivityName="ca.dealsaccess.facejoy.FaceMainActivity"
	        android:screenOrientation="portrait" >
	        <!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="ca.dealsaccess.facejoy.FaceMainActivity" />
		</activity>
		
        
        <activity
	        android:name="ca.dealsaccess.facejoy.DisplayPhotoActivity"
	        android:label="@string/photo"
	        android:parentActivityName="ca.dealsaccess.facejoy.MyDevicePhotoActivity"
	        android:screenOrientation="portrait" >
	        <!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="ca.dealsaccess.facejoy.MyDevicePhotoActivity" />
		</activity>
		
        
        <activity
	        android:name="ca.dealsaccess.facejoy.CreatePersonActivity"
	        android:launchMode="singleTop"
	        android:label="创建人物"
	        android:parentActivityName="ca.dealsaccess.facejoy.FaceMainActivity"
	        android:screenOrientation="portrait" >
	        <!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="ca.dealsaccess.facejoy.FaceMainActivity" />
		</activity>
		
        
        <activity
	        android:name="ca.dealsaccess.facejoy.UseExistPersonActivity"
	        android:label="使用已有人物"
	        android:parentActivityName="ca.dealsaccess.facejoy.DisplayPhotoActivity"
	        android:screenOrientation="portrait" >
	        <!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="ca.dealsaccess.facejoy.DisplayPhotoActivity" />
		</activity>
        
        <activity
	        android:name="ca.dealsaccess.facejoy.PersonListActivity"
	        android:launchMode="singleTop"
	        android:label="人物列表"
	        android:parentActivityName="ca.dealsaccess.facejoy.FaceMainActivity"
	        android:screenOrientation="portrait" >
	        <!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="ca.dealsaccess.facejoy.FaceMainActivity" />
		</activity>
        
        
        <activity
	        android:name="ca.dealsaccess.facejoy.FaceListActivity"
	        android:launchMode="singleTop"
	        android:parentActivityName="ca.dealsaccess.facejoy.PersonListActivity"
	        android:screenOrientation="portrait" >
	        <!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="ca.dealsaccess.facejoy.PersonListActivity" />
		</activity>
		
        <activity
	        android:name="ca.dealsaccess.facejoy.FaceDetailActivity"
	        android:launchMode="singleTop"
	        android:label="脸谱详情"
	        android:parentActivityName="ca.dealsaccess.facejoy.FaceListActivity"
	        android:screenOrientation="portrait" >
	        <!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="ca.dealsaccess.facejoy.FaceListActivity" />
		</activity>
        
        <activity
	        android:name="ca.dealsaccess.facejoy.CameraActivity"
	        android:label="@string/photo"
	        android:parentActivityName="ca.dealsaccess.facejoy.GridPhotoActivity"
	        android:screenOrientation="portrait" >
	        <!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="ca.dealsaccess.facejoy.GridPhotoActivity" />
		</activity>
        
    </application>

</manifest>


